In [21]:
#Python types

# integers
int_var = 5

In [23]:
# float   (numbers with decimals)
float_var = 3.5

In [25]:
# string  (text)
string_var = "Alice"

In [27]:
# boolean  (True or False)
boolean_var = True

In [29]:
#print our results
print(int_var)
print(float_var)
print(string_var)
print(boolean_var)

5
3.5
Alice
True

In [37]:
boolean_var2 = False
print(boolean_var2)

False

In [41]:
#concatenate more than one item in print
print("Integer variable is: ", int_var)
print("Float variable is: ", float_var)
print("String variable is: ", string_var)
print("Boolean variable is: ", boolean_var)

Integer variable is:  5
Float variable is:  3.5
String variable is:  Alice
Boolean variable is:  True

In [43]:
#check type of variable
print("int_var is of type:", type(int_var))

int_var is of type: <class 'int'>

In [45]:
type(string_var)

str

In [51]:
#Math
a = 10
b = 4

In [53]:
print("add:", a + b)
print("subtract:", a - b)
print("multiply:", a * b)
print("divide:", a/b)
print("exponent:", a ** b)
print("floor division:", a//b)
print("remainder using modulo operator:", a % b)

add: 14
subtract: 6
multiply: 40
divide: 2.5
exponent: 10000
floor division: 2
remainder using modulo operator: 2

In [57]:
x = 6

print("odd or even based on remainder:", x % 2)

odd or even based on remainder: 0

In [59]:
#comparisons  < , >, ==, <=, >=, !=
y = 9
z = 6
print("is greater?", y > z)
print("is lesser?", y < z)
print("is equal?", y == z)
print("is less than or equal?", y <= z)
print("is greater than equal?", y >= z)
print("is not equal?", y != z)

is greater? True
is lesser? False
is equal? False
is less than or equal? False
is greater than equal? True
is not equal? True

In [61]:
#logicals  (and, or, not)
print(y == 9 and z>9)
print(y == 9 or z > 9)
print(not(z>9))

False
True
True

In [63]:
string_text = "Hello, Python!"

In [73]:
#methods
# lowercase everything
string_text.lower()

'hello, python!'

In [75]:
# replace one string with another
string_text.replace("Hello", "Hi")

'Hi, Python!'

In [79]:
#chaining methods together
string_text.lower().replace("hello", "hi").replace("hi", "bye")

'bye, python!'

In [83]:
"Ryan" =="Ryan"

True

In [108]:
# data structures   -   lists, tuples, dictionaries
#lists - changeable
number_list = [1, 2, 3, 4]
string_list = ["Ryan", "Dave", "George"]
combo_list = [1, 2, 3, "Ryan"]

In [110]:
print(number_list)
print(string_list)
print(combo_list)

[1, 2, 3, 4]
['Ryan', 'Dave', 'George']
[1, 2, 3, 'Ryan']

In [112]:
string_list

['Ryan', 'Dave', 'George']

In [140]:
# tuples - immutable
number_tuple = (9, 10, 11)
string_tuple = ("Ryan", "Dave", "Alice")

In [100]:
print(number_tuple)
print(string_tuple)

(1, 2, 3)
('Ryan', 'Dave', 'Alice')

In [114]:
#dictionary - uses key-value pairs
employee_dict = { "name": "Alice", "age": 30 }

In [116]:
print(employee_dict)

{'name': 'Alice', 'age': 30}

In [136]:
#return value based on the key in a dictionary
employee_dict["age"]

30

In [126]:
#return value of a list based on the position in the list
#  number_list = [1, 2, 3, 4]

number_list[0]

1

Python is 0 - indexed
Positions are counted starting with the number 0
number_list = [9, 10, 11, 12]
Value of 9 in this list is at the 0 position/ index
Value of 10 is the 1 position / index
Value of 11 is at the 2 position / index
Value of 12 is at the 3 position / index

In [138]:
#negative index
number_list[-1]

4

In [134]:
#PEMDAS - order of operations - parentheses, exponents, multiply, divide, add, subtract
print((a*b)/(x-y))

-13.333333333333334